<div id="archive-container">
    <div id="inputs-container">
        <app-date-time [startAtDate]="defaultFromDate" #fromDateTime></app-date-time>
        <img src="../../../assets/images/minus.png" alt="" id="range-img">
        <app-date-time [startAtDate]="defaultToDate" #toDateTime></app-date-time>
        <button id="search-button" (click)="handleRangeSubmit()"></button>
        
        <div id="btns-data-type-container">
            <button 
            *ngFor="let dataType of dataTypeEnum"
            class="btn-data-type"
            #btnDataType
            (click)="handleDataTypeSelection($event, dataType[1])"
            ><span class="text">{{dataType[0].charAt(0)+dataType[0].slice(1).toLowerCase()}}</span></button>
        </div>

    </div>
    
    <app-expandable-mat-table 
    [style.display]="fetchedData.length && !waitingForData ? 'block' : 'none'"
    #expandableTable
    [dataSource]="expandableTableData" 
    [columnsToDisplay]="columnsToDisplay"
    (rowClickedEmitter)="handleRowClick($event)">
    </app-expandable-mat-table>
    <app-paginator [style.display]="fetchedData.length && !waitingForData ? 'block' : 'none'" #paginator (pageEvent)="updatePageData()"></app-paginator>
    <span id="no-data" *ngIf="!fetchedData.length  && !waitingForData ">No data in the given timeframe</span>
    <mat-spinner *ngIf="waitingForData"></mat-spinner>
</div>