
#archive-container{
    margin-top: 1%;
}

#inputs-container{
    display: grid;
    // background: linear-gradient(to bottom right, #131731, rgb(63, 94, 252));
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, auto) 1fr 1fr;
}


@keyframes search-hover{
    0%{
        width:30px;
        height:30px;
    }
    50%{
        width:45px;
        height:45px;
    }
    100%{
        width:35px;
        height:35px;
    }
}


#search-button{
    background: url('../../../assets/images/search.png');
    background-repeat: no-repeat;
    border: none;
    background-size: cover;
    width: 30px;
    height: 30px;
    align-self: center;
    margin-left: 15px;
    margin-top:5px;
    &:hover{
        animation-name: search-hover;
        animation-duration: 0.3s;
        width:35px;
        height:35px;
    }
}

#range-img{
    width: 20px;
    margin: auto 15px;
}

#btns-data-type-container{
    align-self: center;
    margin: 0 auto;
}

.btn-data-type{
    background-color: #24a0ee !important;
    box-shadow: 0px 0px 5px 1px #24a0ee;
    margin: 0 35px;
    // width: 117px;    
    // color:#ebebd3 !important;
}

.btn-selected{
    background-color: white !important;
    box-shadow: 0px 0px 5px 1px white !important;
    transform: scale(1.1);
}



