<ngx-gauge *ngIf="showContent" 
           [type]="gaugeType" 
           [value]="gaugeValue ? gaugeValue: 0" 
           [markers] = "defineMarkerConfig()"
           [min] = "gaugeMinValue ? gaugeMinValue: 0"
           [max] = "gaugeMaxValue ? gaugeMaxValue: 0"
           [thick] = "25"
           [margin] = "10"
           [size] = "220"
           [duration] = "500"
           foregroundColor="#1976cf"
           cap="butt"
        >
</ngx-gauge>

<div *ngIf="!showContent" class="missing-required-data">
    <h1>Fetching required data, please hold on!</h1>
</div>