::ng-deep{
    div.reading-block, div.reading-label{
        overflow: visible;
        color: #555;
    }
    div.reading-label{
        font-size: 18px !important;
    }
}

.missing-required-data{
    display: flex;
    height: 100%;
    align-items: center;
    h1{
        font-size: 30px;
        color: #85bcff;
        font-family: "RobotoMono";
        letter-spacing: 1px;
        text-align: center;
        margin-bottom: 15%;
    }    
}