<div class="card">
    <div *ngIf="cardType == 'chart'" class="chart-container">
        <div id="title-container">
            <button class="close-btn" mat-icon-button (click)="removeParameter()">
                <mat-icon>close</mat-icon>
            </button>
            <span>{{parameterName}}</span>
            
            <div id="btn-menu-container">
                <button id="btn-menu" mat-icon-button color="primary" [matMenuTriggerFor]="menu">
                    <mat-icon>menu</mat-icon>
                </button>
                <mat-menu #menu="matMenu" class="menu-panel">
                    <button (click)="changeChartType(chartType)" *ngFor="let chartType of chartTypes" mat-menu-item>
                        <mat-icon style="background-image:url('../../../../../assets/images/{{chartType.toLowerCase()}}-chart.png')"></mat-icon>
                        <span class="chart-description">{{chartType}}</span>
                    </button>
                </mat-menu>
            </div>
        </div>
        
        <app-chartjs-chart 
            
            class="card-chart" 
            *ngIf="selectedChartType != 3 && chartMode == 0" 
            [chartType]="selectedChartType"
            [xAxisData]="xAxisData"
            [yAxisData]="yAxisData">
        </app-chartjs-chart>
        <app-gauge-chart class="card-chart" *ngIf="selectedChartType == 3 && chartMode == 0" [parameterName]="parameterName"></app-gauge-chart>
        <div *ngIf="chartMode == 1" class="no-data-container">
            <img src="../../../../../../../assets/images/cloud.png" alt="">
            <span>No Chart Data</span>
        </div>
    </div>
    <div *ngIf="cardType == 'addCard' " class="add-card">
        <img *ngIf="displayAddCardButton" src="../../../../../assets/images/plus.png" alt="" (click)="displayAddCardButton = !displayAddCardButton">
        <form *ngIf="!displayAddCardButton" id="form-parameter-select">
            <mat-form-field>
              <mat-label>Telemetry Parameter Name</mat-label>
              <input type="text"
                     placeholder="Pick one"
                     aria-label="Telemetry Parameter Name"
                     matInput
                     [formControl]="formControl"
                     [matAutocomplete]="auto"
                     >
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="handleAddCard($event);">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">{{option}}</mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
        <!-- <mat-icon class="mat-icon-rtl-mirror">library_add</mat-icon> -->
    </div>
</div>
