
.mat-column-Name{
    width:100px;
}


.mat-column-Value{
    width:100px;
}

table{
    // box-shadow: 0 0 20px rgba(0,0,0,0.1);
    background: none;
    
    tr,td,th{
        text-align: center;
        font-family: OpenSans;
        // font-weight: 600;
        border: none !important;
        &:not(:last-child){
            width: 110px;
        }
        &:last-child{
            text-align: left;
        }
    }

    tr,td{
        background: none;
        color: rgb(194 196 209);
        position: relative;
    }
    th{
        color: beige;
        font-weight: bold;
        font-size: 16px;
    }
}