.wrapper {
    background-color: #0e0e23;
    display: flex;
    height: 100vh;
    overflow: hidden;
    margin: 0 auto;
}


.main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
    padding-left: 0;
   }

::ng-deep{
    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-thumb {
        background: linear-gradient(to bottom right, rgb(88, 160, 229), rgb(63, 94, 252));
        border-radius: 6px;
    }

    ::-webkit-scrollbar-track {
        border-radius: 6px;
        background-color: transparent;
    }
}

   