<div class="card">
    <div id="btn-menu-container">
        <button id="btn-menu" mat-icon-button color="primary" [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button (click)="changeChartType(chartType)" *ngFor="let chartType of chartTypes" mat-menu-item>{{chartType}}</button>
          </mat-menu>
    </div>
    <span>{{parameterName}}</span>
    <app-chartjs-chart [chartType]="selectedChartType"></app-chartjs-chart>
</div>