<div class="card">
    <div *ngIf="cardType == 'chart' " class="chart-container">
        <div id="title-container">
            <span>{{parameterName}}</span>
            
            <div id="btn-menu-container">
                <button id="btn-menu" mat-icon-button color="primary" [matMenuTriggerFor]="menu">
                    <mat-icon>menu</mat-icon>
                </button>
                <mat-menu #menu="matMenu" class="menu-panel">
                    <button (click)="changeChartType(chartType)" *ngFor="let chartType of chartTypes" mat-menu-item>
                        <mat-icon style="background-image:url('../../../../../assets/images/{{chartType.toLowerCase()}}-chart.png')"></mat-icon>
                        <span class="chart-description">{{chartType}}</span>
                    </button>
                </mat-menu>
            </div>
        </div>
        <app-chartjs-chart class="card-chart" *ngIf="!selectedGaugeChart" [chartType]="selectedChartType"></app-chartjs-chart>
        <app-gauge-chart class="card-chart" *ngIf="selectedGaugeChart"></app-gauge-chart>
    </div>
    <div *ngIf="cardType == 'addCard' " class="add-card">
        <img src="../../../../../assets/images/plus.png" alt="">
        <!-- <mat-icon class="mat-icon-rtl-mirror">library_add</mat-icon> -->
    </div>
</div>
