@font-face {
    font-family: Montserrat;
    src: url(../../../assets/fonts/Montserrat-VariableFont_wght.ttf);
}

#cards-container{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    row-gap: 12px;
}

#no-sensors-span{
    font-family: Montserrat;
    width: 100%;
    font-size: 40px;
    height: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    padding: 200px;
    text-align: center;
    line-height: 1.3;
}