@font-face {
    font-family: OpenSans;
    src: url('../../../../assets/fonts/OpenSans-VariableFont.ttf');
}

.detail-row{
    height: 0;
}

.element-row{
    border-bottom-width: 0;
    &:not(.expanded-row).expandable-row{
        height: 0;
        &:hover{
            backdrop-filter: contrast(80%);
        }
    }
}

.mat-column-expand{
    width: 48px;
    padding: 0;
}

.mat-column-date{
    width:100px;
}

// td[mat-cell]{
//     background-color: transparent !important;
// }

// tr[mat-row]{
//     background-color: transparent;
// }

table::before{
    position: absolute;
    content: "";
    width: 91%;
    height: 430px;
    filter: blur(10px);
    background: linear-gradient(to bottom right, rgb(29 0 88 / 50%), rgba(63, 94, 252, 0.5));
    // z-index: -2;
}
table{
    // box-shadow: 0 0 20px rgba(0,0,0,0.1);
    background: none;
    tr,td,th{
        text-align: center;
        font-family: OpenSans;
        // &:not(:last-child):not(:first-child){
        //     width: 110px;
        // }
        &:last-child{
            text-align: left;
        }
    }
    
    tr,td{
        background: none;
        color: beige;
        position: relative;
    }
    th{
        background-color: #0a0b1b;
        font-weight: bold;
        font-size: 16px;
    }
}