
@keyframes left {
 0% {
  transform: translateX(-30px);
  opacity: 0;
 }
 
 100% {
  opacity: 1;
  transform: none;
 }
}

.left-side {
    width: 6rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    padding-bottom: 40px;
    animation: left 1s var(--delay) both;
    height: 100%;
    &:first-child .logo{
        width: 44px;
        margin-top: 34%;
    }
    div{
        &:last-child {
           flex-grow: 1;
           display: flex;
           align-items: flex-end;
           margin-bottom: 15px;
        }
        margin-top: 34px;
        &:first-child{
            margin-top: 0;
        }
        a {
         display: block;
         color: #5a5b69;
         width: 24px;
         cursor: pointer;
         &.active,
         &:hover {
          color: #4255d4;
         }
        }
    }
   }