.detail-row{
    height: 0;
}

.element-row{
    border-bottom-width: 0;
    &:not(.expanded-row){
        height: 0;
        &:hover{
            background: #efefef;
        }
    }
}

.mat-column-expand{
    width: 48px;
    padding: 0;
}

.mat-column-date{
    width:100px;
}


