<div class="card">
    <div class="card-front">
        <button class="close-btn" mat-icon-button (click)="deleteSensor()">
            <mat-icon>close</mat-icon>
        </button>
        <span class="title">{{normalizeString(sensorName)}}</span>
        <app-indicator-light [sensorState]="currentSensorState"></app-indicator-light>
        <span class="sensorStatus">{{readableSensorState(currentSensorState)}}</span>
    </div>
    <div class="card-back" (click)="displaySensorRequirements()">  
        <mat-spinner *ngIf="fetchingRequirements"></mat-spinner>      
        <div class="requirements-text" *ngIf="!fetchingRequirements">
            <div class="background-dash"></div>
            <span>Click to view requirements</span>        
        </div>
    </div>
    <!-- <span class="sensorStatus" [ngClass]="'--description-'+sensorStateEnum[currentSensorState].toLowerCase()">{{readableSensorState(currentSensorState)}}</span> -->
</div>